.root {
    -fx-background-color: #373737;
}

.label {
    -fx-font-family: "Fira Sans Regular";
    -fx-text-fill: white;
}

.context-menu {
    -fx-font-family: "Fira Sans Regular";
    -fx-text-fill: black;
}
.menu-item .label {
    -fx-text-fill: black;
}
.menu-item:focused .label {
    -fx-text-fill: black;
}

.title {
    -fx-font-size: 50;
}

.text-input {
    -fx-text-fill: black;
}

#NvidiaRadioButton, #AMDRadioButton {
    -fx-text-fill: white;
}

#helpLink {
    -fx-font-size: 10;
    -fx-text-fill: cyan;
}
