.root {
    -fx-background-color: #373737;
}

.label {
    -fx-font-family: "Fira Sans Regular";
    -fx-text-fill: white;
}

.title {
    -fx-font-size: 50;
}

.text-input {
    -fx-text-fill: black;
}

#nvidia_RadioButton, #amd_RadioButton {
    -fx-text-fill: white;
}
